.footer__song-name {
  margin: 0;
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  .footer__song-name {
    font-size: 12px;
  }
}
@media screen and (max-width: 800px) {
  .footer__song-name {
    animation: none;
  }
}