.footer__songs {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  overflow: hidden;
}

/* Media Queries */
@media screen and (max-width: 360px) {
  .footer__songs {
    flex-direction: column;
  }
}