.photo-grid__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 20px 0;
  list-style: none;
}
.photo-grid__item:nth-child(odd) {
  clip-path: inset(0 100% 0 0);
}
.photo-grid__item:nth-child(even) {
  clip-path: inset(0 0 0 100%);
}