.shine
{
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  animation: shine 11s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
 