.footer__two-rows_content_social {
  margin-right: 100px;
  align-self: flex-end;
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .footer__two-rows_content_social {
    margin: 0;
  }
}

@media screen and (max-width: 690px) {
  .footer__two-rows_content_social {
    align-self: flex-start;
    margin-bottom: 20px;
  }
}